In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [2]:
#Loading the data
basket = pd.read_csv('customer_baskets.csv')

In [3]:
basket.head()

   customer_id                                             basket
0     75689161                              34,13,42,11,5,10,30,6
1     37394281                                         25,32,10,3
2     80002250                                   24,12,42,45,16,8
3     24795952                                           34,13,37
4     99012405  14,4,3,2,45,38,33,44,10,35,37,42,27,12,7,21,39,34

In [4]:
#Converting the transactions into row format
new_basket = pd.DataFrame(basket.basket.str.split(',').tolist(), index=basket.customer_id).stack()
new_basket.to_frame()
new_basket = new_basket.reset_index([0, 'customer_id'])
new_basket.columns = ['customer_id', 'basket']

In [5]:
new_basket.basket=new_basket.basket.astype(int)

In [6]:
category = pd.read_csv('clothing_categories.csv')

In [7]:
new_basket = pd.merge(left=category,right=new_basket,left_on='category_id',right_on='basket')

In [8]:
new_basket = new_basket.loc[:,['name','customer_id']]

In [9]:
new_basket.sort_values(by='customer_id')

                  name  customer_id
30371         Bikini            919
63980        Chemise            919
45649       Camisole            919
184378          Shawl           919
22540            Belt           919
...                ...          ...
82762   Dressing Gown      99991082
19673      Ball Gown       99999080
239275       Swimwear      99999080
293739       Trousers      99999080
192213         Shorts      99999080

[294526 rows x 2 columns]

In [10]:
basket_pivot = new_basket.pivot_table(index='customer_id',columns='name',values='name',aggfunc={'name':'count'})

In [11]:
basket_pivot.head()

name,Bag,Ball Gown,Belt,Bikini,Blazer,Blouse,Bra,Camisole,Cardigan,Chemise,...,Sunglasses,Sweatshirt,Swimwear,Tankini,Thong,Tights,Top,Tracksuit,Trainers,Trousers
customer_id,,,,,,,,,,,,,,,,,,,,,
919,1.0,1.0,2.0,1.0,NaN,NaN,NaN,2.0,NaN,1.0,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0
9755,1.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
17876,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,1.0,2.0,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN
24044,1.0,2.0,1.0,NaN,NaN,2.0,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0,NaN
25986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [12]:
basket_pivot.shape

(23701, 48)

In [13]:
#Filling NaN with '0'
new_basket = basket_pivot.fillna(0)

In [14]:
new_basket.head()

name,Bag,Ball Gown,Belt,Bikini,Blazer,Blouse,Bra,Camisole,Cardigan,Chemise,...,Sunglasses,Sweatshirt,Swimwear,Tankini,Thong,Tights,Top,Tracksuit,Trainers,Trousers
customer_id,,,,,,,,,,,,,,,,,,,,,
919,1.0,1.0,2.0,1.0,0.0,0.0,0.0,2.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
9755,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
17876,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,1.0,2.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0
24044,1.0,2.0,1.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,2.0,0.0
25986,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [15]:
#Converting all transactions have item count greater than 1 to 1 for running apriori algorithm
for i in new_basket.columns:
    new_basket.loc[new_basket[i] > 0, i] = 1

In [16]:
new_basket.head()

name,Bag,Ball Gown,Belt,Bikini,Blazer,Blouse,Bra,Camisole,Cardigan,Chemise,...,Sunglasses,Sweatshirt,Swimwear,Tankini,Thong,Tights,Top,Tracksuit,Trainers,Trousers
customer_id,,,,,,,,,,,,,,,,,,,,,
919,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
9755,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
17876,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
24044,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
25986,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Importing Apriori Algorithm

In [17]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [18]:
#Since the store has only 48 items in it, minimum support threshold is set as 0.05.
#An itemset to be present in 5% of the total transactions
freq_itemset = apriori(df = new_basket, min_support = 0.05, use_colnames = True)

In [19]:
rules = association_rules(freq_itemset,metric="confidence", min_threshold = 0.5)

### Sorting values by confidence and lift

In [20]:
#Top 10 itemset in our transaction
rules.sort_values(by = ['confidence','lift'],ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1533,"(Tights , Tankini , Chemise )",(Ball Gown ),0.078520,0.474959,0.058985,0.751209,1.581630,0.021691,2.110371
1537,"(Chemise , Tankini , Top )",(Ball Gown ),0.079195,0.474959,0.059491,0.751199,1.581608,0.021877,2.110283
1542,"(Tights , Chemise , Top )",(Ball Gown ),0.079195,0.474959,0.059196,0.747469,1.573756,0.021581,2.079119
1549,"(Tights , Tankini , Top )",(Ball Gown ),0.078604,0.474959,0.057888,0.736447,1.550548,0.020554,1.992162
155,"(Tights , Belt )",(Ball Gown ),0.100924,0.474959,0.072191,0.715301,1.506027,0.024256,1.844197
76,"(Bag , Top )",(Ball Gown ),0.119784,0.474959,0.085482,0.713632,1.502512,0.028589,1.833446
75,"(Bag , Tights )",(Ball Gown ),0.120754,0.474959,0.085777,0.710342,1.495587,0.028424,1.812627
153,"(Tankini , Belt )",(Ball Gown ),0.099194,0.474959,0.070124,0.706933,1.488409,0.023010,1.791541
139,"(Chemise , Belt )",(Ball Gown ),0.097886,0.474959,0.069111,0.706034,1.486517,0.022619,1.786064
73,"(Bag , Tankini )",(Ball Gown ),0.120923,0.474959,0.085271,0.705164,1.484684,0.027837,1.780790

### Since "Ball Gown" is very common in all rules, so exempting them from consequents to find other important associations

In [21]:
s1 = frozenset({'Ball Gown'})
x = pd.DataFrame()
for index, row in rules.iterrows():
    if (row["consequents"].isdisjoint(s1)):
        x = x.append(pd.DataFrame([list(row)], columns =rules.columns))
x.reset_index(drop=True, inplace=True)

In [23]:
x.sort_values(by = ['lift','confidence'], ascending = False).head(50)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1519,"(Ball Gown , Hair Accessory , Trainers )",(Blouse ),0.085861,0.308257,0.051264,0.597052,1.936863,0.024796,1.716704
1547,"(Ball Gown , Thong , Stockings )",(Knickers ),0.086832,0.305979,0.051348,0.591351,1.932654,0.024779,1.698330
1517,"(Ball Gown , Blouse , Trainers )",(Hair Accessory ),0.087971,0.302055,0.051264,0.582734,1.929232,0.024692,1.672662
1529,"(Ball Gown , Thong , Stockings )",(Cardigan ),0.086832,0.309227,0.051601,0.594266,1.921777,0.024750,1.702527
1545,"(Knickers , Ball Gown , Stockings )",(Thong ),0.086958,0.307962,0.051348,0.590490,1.917414,0.024568,1.689918
1526,"(Knickers , Ball Gown , Cardigan )",(Thong ),0.085608,0.307962,0.050546,0.590439,1.917247,0.024182,1.689706
1528,"(Cardigan , Ball Gown , Thong )",(Stockings ),0.086874,0.310071,0.051601,0.593978,1.915616,0.024664,1.699238
1516,"(Ball Gown , Blouse , Hair Accessory )",(Trainers ),0.087676,0.305515,0.051264,0.584697,1.913810,0.024477,1.672237
1520,"(Knickers , Ball Gown , Cardigan )",(Stockings ),0.085608,0.310071,0.050715,0.592410,1.910561,0.024171,1.692703
1527,"(Cardigan , Ball Gown , Thong )",(Knickers ),0.086874,0.305979,0.050546,0.581836,1.901557,0.023965,1.659686
1544,"(Knickers , Ball Gown , Thong )",(Stockings ),0.087507,0.310071,0.051348,0.586789,1.892432,0.024215,1.669676
1521,"(Knickers , Ball Gown , Stockings )",(Cardigan ),0.086958,0.309227,0.050715,0.583212,1.886029,0.023825,1.657372
1541,"(Tights , Ball Gown , Top )",(Chemise ),0.101093,0.310746,0.059196,0.585559,1.884364,0.027782,1.663093
1531,"(Ball Gown , Cardigan , Stockings )",(Thong ),0.088941,0.307962,0.051601,0.580171,1.883906,0.024211,1.648381
1539,"(Tankini , Ball Gown , Top )",(Chemise ),0.101979,0.310746,0.059491,0.583368,1.877312,0.027802,1.654346
1524,"(Knickers , Ball Gown , Thong )",(Cardigan ),0.087507,0.309227,0.050546,0.577628,1.867971,0.023487,1.635459
1523,"(Ball Gown , Cardigan , Stockings )",(Knickers ),0.088941,0.305979,0.050715,0.570209,1.863557,0.023501,1.614787
1543,"(Chemise , Ball Gown , Top )",(Tights ),0.101262,0.314501,0.059196,0.584583,1.858762,0.027349,1.650147
1536,"(Chemise , Tankini , Ball Gown )",(Top ),0.101937,0.313995,0.059491,0.583609,1.858657,0.027484,1.647503
1532,"(Tights , Tankini , Ball Gown )",(Chemise ),0.102190,0.310746,0.058985,0.577209,1.857492,0.027230,1.630246
679,"(Trainers , Hair Accessory )",(Blouse ),0.144551,0.308257,0.082317,0.569469,1.847383,0.037758,1.606720
1538,"(Chemise , Ball Gown , Top )",(Tankini ),0.101262,0.318594,0.059491,0.587500,1.844039,0.027230,1.651893
677,"(Blouse , Hair Accessory )",(Trainers ),0.146239,0.305515,0.082317,0.562897,1.842455,0.037639,1.588836
1535,"(Chemise , Tankini , Ball Gown )",(Tights ),0.101937,0.314501,0.058985,0.578642,1.839872,0.026926,1.626881
678,"(Blouse , Trainers )",(Hair Accessory ),0.148348,0.302055,0.082317,0.554892,1.837057,0.037508,1.568035
1540,"(Tights , Ball Gown , Chemise )",(Top ),0.102991,0.313995,0.059196,0.574764,1.830488,0.026857,1.613235
1035,"(Socks , Dress )",(Shorts ),0.141091,0.306401,0.079111,0.560706,1.829976,0.035880,1.578895
1041,"(Sunglasses , Shorts )",(Dress ),0.143243,0.304966,0.079743,0.556701,1.825453,0.036059,1.567867
1040,"(Sunglasses , Dress )",(Shorts ),0.142610,0.306401,0.079743,0.559172,1.824969,0.036048,1.573400
1286,"(Knickers , Stockings )",(Thong ),0.144720,0.307962,0.080883,0.558892,1.814811,0.036315,1.568864
1287,"(Thong , Stockings )",(Knickers ),0.145732,0.305979,0.080883,0.555009,1.813880,0.036292,1.559629
1060,"(Socks , Dress )",(Sunglasses ),0.141091,0.304249,0.077803,0.551435,1.812449,0.034876,1.551061
846,"(Thong , Stockings )",(Cardigan ),0.145732,0.309227,0.081600,0.559931,1.810740,0.036536,1.569690
1551,"(Tankini , Ball Gown , Top )",(Tights ),0.101979,0.314501,0.057888,0.567646,1.804907,0.025815,1.585502
1548,"(Tights , Tankini , Ball Gown )",(Top ),0.102190,0.313995,0.057888,0.566474,1.804085,0.025801,1.582384
790,"(Knickers , Cardigan )",(Stockings ),0.144002,0.310071,0.080461,0.558746,1.801992,0.035810,1.563564
845,"(Cardigan , Thong )",(Stockings ),0.146281,0.310071,0.081600,0.557831,1.799041,0.036242,1.560328
847,"(Cardigan , Stockings )",(Thong ),0.147293,0.307962,0.081600,0.553996,1.798912,0.036239,1.551641
791,"(Knickers , Stockings )",(Cardigan ),0.144720,0.309227,0.080461,0.555977,1.797954,0.035709,1.555712
1534,"(Tights , Ball Gown , Chemise )",(Tankini ),0.102991,0.318594,0.058985,0.572716,1.797635,0.026172,1.594738
1550,"(Tights , Ball Gown , Top )",(Tankini ),0.101093,0.318594,0.057888,0.572621,1.797337,0.025680,1.594383
800,"(Knickers , Cardigan )",(Thong ),0.144002,0.307962,0.079701,0.553472,1.797211,0.035354,1.549821
1042,"(Dress , Shorts )",(Sunglasses ),0.146112,0.304249,0.079743,0.545770,1.793827,0.035289,1.531714
1285,"(Knickers , Thong )",(Stockings ),0.145521,0.310071,0.080883,0.555813,1.792534,0.035761,1.553240
1409,"(Sunglasses , Socks )",(Shorts ),0.142568,0.306401,0.078182,0.548387,1.789772,0.034499,1.535827
1058,"(Sunglasses , Socks )",(Dress ),0.142568,0.304966,0.077803,0.545724,1.789457,0.034324,1.529980
1410,"(Sunglasses , Shorts )",(Socks ),0.143243,0.305093,0.078182,0.545803,1.788974,0.034480,1.529968
1036,"(Socks , Shorts )",(Dress ),0.145015,0.304966,0.079111,0.545534,1.788835,0.034886,1.529342
1059,"(Sunglasses , Dress )",(Socks ),0.142610,0.305093,0.077803,0.545562,1.788185,0.034293,1.529158
1208,"(Tracksuit , Scarf )",(Jeans ),0.146239,0.312476,0.081600,0.557992,1.785710,0.035904,1.555455

In [ ]:
#23 significant association itemsets found other than 'ball gown'association itemsets

#One interesting find is socks is bought together with sunglasses.